[submodule "ICon7-godot-client"]
	path = ICon7-godot-client
	url = https://github.com/Drwalin/ICon7-godot-client.git
[submodule "common/flecs"]
	path = common/flecs
	url = https://github.com/SanderMertens/flecs.git
