[submodule "common/flecs"]
	path = thirdparty/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "ICon7"]
	path = ICon7
	url = https://github.com/Drwalin/ICon7.git
[submodule "godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "frontend/addons/drwalin_godot_particles"]
	path = frontend/addons/drwalin_godot_particles
	url = https://github.com/Drwalin/drwalin-godot-particles.git
[submodule "thirdparty/bullet"]
	path = thirdparty/bullet
	url = https://github.com/bulletphysics/bullet3.git
